{% extends "APP/padre.html" %}
{% load static %}
{% block Contenido %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<div class="filtro container">
  <form method="get">
    {{listing_filter.form}}
    <button class="btn btn-sm btn-primary" type="submit">Filtrar</button>
  </form>
</div>
{% if request.user.is_authenticated%}
<div class="crear container"> 
  <a href="{%url 'article-create'%}"><button class="btn btn-primary">Crear</button></a>
</div>
{%endif%}
<div class="publicaciones container">
  
{% for listing in listing_filter.qs %}
    <div class="contenedorPublicaciones">
        <div class="imgPublicacion">{{listing.content_upload | safe}}</div>
      <h2 class="fw-normal text-center">{{listing.title}}</h2>
      <div class="texto text-center">
      <p class="">{{listing.content | safe}}</p>
    </div>
    <div class="botonDetalles text-center"><p><a class="btn btn-secondary" href="{%url 'article-detail' listing.id%}">Ver detalles »</a></p></div>
    {% if request.user.is_authenticated%}
    <a class="btn btn-secondary" href="{%url 'article-delete' listing.id%}">Eliminar»</a>
    <a class="btn btn-secondary" href="{%url 'article-update' listing.id%}">Editar»</a>
    {%endif%}
    </div>
{% endfor %}
</div>}
{% endblock %}