{% extends "APP/padre.html" %}
{% load static %}
{% block Contenido %}
<div class="container botonsend container_">
  <hr>
  <h1>Adopcion</h1>
  <h3>Hola, en esta pestaña puedes conocer las historias de quienes estan esperando un nuevo hogar. </h3>
  <p> Si deseas postularte para adoptar, toca en el boton "Completar formulario".
    Evaluaremos  el formulario y nos estaremos comunicando. 
  </p>
  <hr>
  <a class="btn btn-secondary" href="https://docs.google.com/forms/d/e/1FAIpQLSeRmzzjRyKCDyghAge_YuLXS4wYWRA-Vzp56GpoSdZ3jxpikQ/viewform">Completar Formulario >></a>
</div>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<div class="filtro container">
  <form class="miformulario" method="get">
    {{listing_filter.form}}
    <button class="btn btn-sm btn-primary" type="submit">Filtrar</button>
  </form>
</div>
{% if request.user.is_authenticated%}
<div class="botoncrear container">
  <a href="{%url 'article-create'%}"><button class="btn btn-primary">Crear</button></a>
<div class="crear container"> 
  
</div>
{%endif%}
<div class="publicaciones container">
  
{% for listing in listing_filter.qs %}
    <div class="contenedorPublicaciones" id="animales">
        <div class="imgPublicacion">{{listing.content_upload | safe}}</div>
      <h2 class="fw-normal text-center">{{listing.title}}</h2>
      <div class="texto text-center">
      <p class="">{{listing.content | safe}}</p>
    </div>
    <div class="botonDetalles text-center"><p><a class="btn btn-secondary" href="{%url 'article-detail' listing.id%}">Ver detalles »</a></p></div>
    {% if request.user.is_authenticated%}
    <a class="btn btn-secondary" href="{%url 'article-delete' listing.id%}">Eliminar»</a>
    <a class="btn btn-secondary" href="{%url 'article-update' listing.id%}">Editar»</a>
    {%endif%}
    </div>
{% endfor %}
</div>
</div>
<script src="{% static 'APP/js/ScrollMagic.min.js' %}"></script>
        <script src="{% static 'APP/js/scrollEfects.js' %}"></script>
        <script src="{% static 'APP/js/debug.addIndicators.min.js' %}"></script>
{% endblock %}