{% extends "APP/padre.html" %}
{% load static %}
{% block Contenido %}

<!-- <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{articulo.title}}</h1>
       
       
      </div>
    </div>
  </section>
  <main class="flex-shrink-0">
    <div class="container">
      <div style="text-align:center;">
      </div>
      <div style="padding-top: 2em;">
       {{articulo.content | safe }}
      </div>
    </div>
  </main> -->

  <div id="carouselExample" class="carousel slide container" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExample" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
          
          <img  src="/media/{{articulo.image}}" alt="" class="d-block w-100 imagenes">
          
        </div> 
        <div class="carousel-item">
            <img  src="{% static 'APP/css/perro2.jpg' %}" alt="" class="d-block w-100 imagenes">
        </div> 
    </div>
    <a href="#carouselExample" class="carousel-control-prev" rol="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </a>
    <a href="#carouselExample" class="carousel-control-next" rol="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </a>
    <h3 class="text-center mt-3">{{articulo.title}}</h3>
    <p>aopsdjapiojdoaisjdaopisdjoasidjoisajdoias</p>
</div>


{% endblock %}