{% extends "APP/padre.html" %}
{% load static %}
{% block Contenido %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<div class="filtro container">
    <a>Filtro: </a>
    <a href="{%url 'adopcion'%}">Todos</a>
    <a href="{%url 'Hembra'%}">Hembra</a>
    <a href="{%url 'Macho'%}">Macho</a>
<div class="size">
    <a href="{%url 'Chico'%}">Chico</a>
    <a href="{%url 'Mediano'%}">Mediano</a>
    <a href="{%url 'Grande'%}">Grande</a>
</div></div>
<div class="publicaciones container">
{% for Grande in grande %}
    <div class="contenedorPublicaciones">
        <div class="imgPublicacion">{{Grande.content_upload | safe}}</div>
      <h2 class="fw-normal text-center">{{Grande.title}}</h2>
      <div class="texto text-center">
      <p class="">{{Grande.content | safe}}</p>
    </div>
    <div class="botonDetalles text-center"><p><a class="btn btn-secondary" href="{%url 'article-detail' Grande.id%}">Ver detalles »</a></p></div>
      
    </div>
{% endfor %}
</div>
{% endblock %}