{% extends "APP/padre.html" %}
{% load static %}
{% block Title %}
<title>Log In</title>
<link rel="icon" type="image/x-icon" href="{%static 'APP/img/ayudaanimal.png'%}">

{% endblock %}
{% block Contenido %}
<div class="contenido">
  <img class="" src="{% static 'APP/img/ayudaanimal.png' %}" alt="" width="120" height="100">
  <h1 class="ingresarh1">Ingresar Usuario</h1>

  <div class="form2">

    <form  method="POST">{% csrf_token %}
      <ul>
        <table>
          {{form.as_table}}
        </table>
        <button type="button" class="botoncito" id="toggleButton" onclick="togglePasswordVisibility()">Mostrar contraseña</button>
        <button class="btn btn-primary botoningresar" type="submit">Entrar</button>
      </ul>

    </div>
   </form>
</div>
<script>
  function togglePasswordVisibility() {
    var passwordInput = document.getElementById("id_password");
    
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      document.getElementById("toggleButton").textContent = "Ocultar contraseña";
    } else {
      passwordInput.type = "password";
      document.getElementById("toggleButton").textContent = "Mostrar contraseña";
    }
  }
</script>
{% endblock %}