{% extends "APP/padre.html" %}
{% load static %}
{% block Contenido %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<div class="publicaciones">
{% for articulo in article %}
    <div class="contenedorPublicaciones">
        <div class="imgPublicacion">{{articulo.content_upload}}</div>
      <h2 class="fw-normal text-center">{{articulo.title}}</h2>
      <div class="texto text-center">
      <p class="">{{articulo.content}}</p>
    </div>
    <div class="botonDetalles text-center"><p><a class="btn btn-secondary" href="{%url 'article-detail' articulo.id%}">Ver detalles »</a></p></div>
      
    </div>
{% endfor %}
</div>
{% endblock %}
{% block Cargando %}
      <p class="pcontenedor">Cargando...</p>
      {% endblock Cargando %}