{% extends "APP/padre.html" %}
{% load static %}
{% block Title %}
<title>Editar Articulo</title>
<link rel="icon" type="image/x-icon" href="{%static 'APP/img/ayudaanimal.png'%}">

{% endblock %}
{% block Contenido %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<div class="textFieldEdition container">

  <form class="loginform" method="POST" enctype=multipart/form-data>
    <h1>Editar articulo</h1>
    {% csrf_token%}
    {{form.as_ul}}
    <input class="btn btn-primary" type="submit" value="Enviar">
  </form>
</div>

{% endblock %}
{% block Cargando %}
      <p class="pcontenedor">Cargando...</p>
      {% endblock Cargando %}