<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'APP/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'APP/css/bootstrap.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/img/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Eliminar</title>
  <link rel="icon" type="image/x-icon" href="{%static 'APP/img/ayudaanimal.png'%}">
</head>
<body class="hidden">
  <div class="loader">
    <div class="dog">
       <div class="dog-body">
          <div class="dog-tail">
             <div class="dog-tail">
                <div class="dog-tail">
                   <div class="dog-tail">
                      <div class="dog-tail">
                         <div class="dog-tail">
                            <div class="dog-tail">
                               <div class="dog-tail"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="dog-torso"></div>
       <div class="dog-head">
          <div class="dog-ears">
             <div class="dog-ear"></div>
             <div class="dog-ear"></div>
          </div>
          <div class="dog-eyes">
             <div class="dog-eye"></div>
             <div class="dog-eye"></div>
          </div>
          <div class="dog-muzzle">
             <div class="dog-tongue"></div>
          </div>
       </div>
    </div>
    <div class="texto">
    <p class="pcontenedor">Cargando...</p>
  </div>
  </div>
  <div class="deleteDog">
    <div class="formularioDog">
      <table>
        <form method="post">{% csrf_token %}
          <img class="tacho"src="{%static 'APP/img/eliminar.png'%}" alt="" srcset="" width="40px"></a>
          <div class="textoEliminar">
          <strong>¿Estas seguro que desea eliminar el articulo "{{ object.title }}"?</strong>
          <p class="info">La imagen y su contenido seran eliminados permanentemente</p>
        </div>
         
          <div class="eliminacionBotones">
          <input class="btn btn-danger botonMargin" type="submit" value="Eliminar" />

          <a  class="btn btn-primary ml-2" href="{% url 'adopcion' %}">No</a>
        </div>
  
        </form>
  
        <p>
          
        </p>
  
      </table>
    </div>
  </div>
  <script src="{%static 'APP/js/codigo.js'%}"></script>
</body>
</html>