{% extends "APP/padre.html" %}
{% load static %}
{% block Title %}
<title>Contactenos</title>
<link rel="icon" type="image/x-icon" href="{%static 'APP/img/ayudaanimal.png'%}">

{% endblock %}
{% block Contenido %}
<div class="container botonsend pb-5">
  <hr>
  <h1>Ayuda Animal</h1>

  
    <p>
      Somos un grupo de vecinas de Ciudad Evita que nos organizamos para dar socorro a los animales que se encuentran en
      situación de calle.<hr>
    </p>
    <p>
      Esta organización es sin fines de lucro, todo lo recibido es para los animales rescatados.
      A futuro se buscara que la organización pase a ser una ONG, pero al no tener un edificio físico donde situarla no
      es posible por el momento.<hr>
    </p>
    <p>
      Como no tenemos un lugar físico donde albergar a los animales rescatados nos manejamos con tránsitos, que son
      ofrecidos por voluntad propia.<hr>
    </p>
    <p>
    Cada animal rescatado será dado en adopción bajo los parámetros que la organización crea pertinente.
  </p>
    <p>
      ¿Nos das una pata 🐾?
    </p>
 
  <hr>
  <p class="pb-5">Este sitio web ha sido donado por Rodrigo Maciel y Leandro Jamardo.</p>





  <hr>
</div>
{% endblock %}