{% extends "APP/padre.html" %}
{% load static %}
{% block Title %}
<title>Contactenos</title>
<link rel="icon" type="image/x-icon" href="{%static 'APP/img/ayudaanimal.png'%}">

{% endblock %}
{% block Contenido %}
<div class="container botonsend pb-5">
  <hr>
  <h1>Ayuda Animal</h1>

  <h3>
    Somos un grupo de vecinas de Ciudad Evita que nos organizamos para dar socorro a los animales que se encuentran en
    situación de calle.<hr>
    Esta organizacion es sin fines de lucro, todo lo recibido es para los animales rescatados.
    A futuro se buscara que la organizacion pase a ser una ONG, pero al no tener un edificio fisico donde situarla no
    es posible por el momento.<hr>
    Como no tenemos un lugar fisico donde alvergar a los animales rescatados nos manejamos con transitos, que son
    ofrecidos por volutad propia.<hr>
    Cada animal rescatado sera dado en adopción bajo los parametros que la organizacion crea pertinente.
    
    
    ¿Nos das una pata 🐾?
  </h3>
  <hr>
  <p class="pb-5">Este sitio web ha sido donado por Rodrigo Maciel y Leandro Jamardo.</p>





  <hr>
</div>
{% endblock %}