{% extends "APP/padre.html" %}
{% load static %}
{% block Title %}
<title>Donaciones</title>
<link rel="icon" type="image/x-icon" href="{%static 'APP/img/ayudaanimal.png'%}">

{% endblock %}
{% block Contenido %}

<div class="container botonsend pb-3">
  <hr>
  <h1>Donaciones</h1>
  <h3>Sumate! Tu colaboracion es de vital importancia para solventar cualquier contratiempo que surja</h3>
  <p>Tu ayuda nos permite ofrecerle a nuestros animales todo lo que ellos necesitan hasta conseguirles un nuevo hogar
  </p>
  <h3>Dona por Mercado Pago</h3>
  <hr>
  <img class="mercadopago" src="{%static 'APP/img/mercadop.png' %}" width="500px" alt="" srcset="">
  <div class="botones container d-flex justify-content-center">

    <a
      href=https://www.mercadopago.com.ar/payment-link/v1/redirect?preference-id=31749478-b57629ce-bcdc-4c5d-a160-ded4b39d3184&source=link>
      <button class="donaciones">
        <div class="wrapper">
          <i class="bi bi-send"></i>
        </div>
        <span>Donar $100</span>
      </button> </a>
      <a
      href=https://www.mercadopago.com.ar/payment-link/v1/redirect?preference-id=31749478-5bb0d321-284d-4c7e-b6b6-77f0fc62350d&source=link>
    <button class="donaciones">
      <div class="wrapper">
        <i class="bi bi-send"></i>
      </div>
      <span>Donar $200</span>
    </button></a>
    <a
    href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/f231e6ec-b75c-4941-ac97-2c4baaf515c7/payment-option-form/?preference-id=31749478-58af550f-612c-47c7-9a9e-00647a495efd&router-request-id=61e49e6b-5185-4d73-9155-78f6952bb1a0&source=link&p=4b7c0a3291acbe69cbb2aaeb6d7f2e58#/">
    <button class="donaciones">
      <div class="wrapper">
        <i class="bi bi-send"></i>
      </div>
      <span>Donar $400</span>
    </button></a>
    <a
    href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/db1b8417-2382-4678-9bd5-2c9d40616e6d/payment-option-form/?router-request-id=d9079f92-e094-4352-900b-c73484894637&preference-id=31749478-4aa7c869-18d8-4818-8599-4f13226a4d94&source=link&p=4b7c0a3291acbe69cbb2aaeb6d7f2e58#/">
    <button class="donaciones">
      <div class="wrapper">
        <i class="bi bi-send"></i>
      </div>
      <span>Donar $500</span>
    </button></a>
    <a
    href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/5ca5a7d2-559f-4137-8fd8-001a0b3494ee/payment-option-form/?router-request-id=ab4d5473-3765-4f4a-a18b-f2bb231842d1&source=link&preference-id=31749478-442ebafc-2e95-48b6-8356-5fb1fbd7643b&p=4b7c0a3291acbe69cbb2aaeb6d7f2e58#/">
    <button class="donaciones">
      <div class="wrapper">
        <i class="bi bi-send"></i>
      </div>
      <span>Donar $800</span>
    </button></a>
    <a
    href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/0c2901a7-022c-441d-8197-edd4530017c2/payment-option-form/?source=link&router-request-id=89e8ff9c-3ba0-4f6a-ab55-99270eee8aec&preference-id=31749478-e73c3555-bb57-4ee0-b992-f4c96aa4dece&p=4b7c0a3291acbe69cbb2aaeb6d7f2e58#/">
    <button class="donaciones">
      <div class="wrapper">
        <i class="bi bi-send"></i>
      </div>
      <span>Donar $1000</span>
    </button></a>
    <a
      href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/e3023d88-49cc-408a-9201-c577c674e17e/payment-option-form/?source=link&preference-id=31749478-ba1633c1-bc9d-443e-8696-3177ec0a76bd&router-request-id=9ce984cf-d1de-4fb1-8f91-afddd2ae907c&p=4b7c0a3291acbe69cbb2aaeb6d7f2e58#/">
    <button class="donaciones">
      <div class="wrapper">
        <i class="bi bi-send"></i>
      </div>
      <span>Donar $2000</span>
    </button></a>
  </div>
</div>




{% endblock %}