{% extends "APP/padre.html" %}
{% block Contenido %}
{% load static %}
      <div id="carouselExample" class="carousel slide container" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExample" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="gatillo" id="gatillo">
              <div class="adoptalos" id="adoptalos">
              <H1 class="h1flotante">ADOPTALOS, ELLOS TE NECESITAN</H1>
              <a href="{%url 'adopcion'%}"><input class="boton5" type="button" value="Adoptar>>"></a>
            </div>
          </div>
              <div class="vacio">
                <img class="imagenCarousel" src="{% static 'APP/css/perro3.jpg' %}" alt="" class="d-block w-100 imagenes" height="700" >
              </div>
            </div> 
            <div class="carousel-item">
                <img  src="{% static 'APP/css/perro2.jpg' %}" alt="" class="d-block w-100 imagenes">
            </div> 
        </div>
        <a href="#carouselExample" class="carousel-control-prev" rol="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </a>
        <a href="#carouselExample" class="carousel-control-next" rol="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </a>
    </div>
        <!-- CIRCULOS A PARTIR DE ACA -->
        <div class="container pt-4">

            <!-- Three columns of text below the carousel -->
            <div class="row" id="row">
              <div class="col-lg-4 circulos perro">
                  <img class="bd-placeholder-img rounded-circle perro1" src="{% static 'APP/css/perro.jpg' %}" alt="" width="140px" height="140px">
        
                <h2 class="fw-normal">Heading</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel.</p>
                <p><a class="btn btn-secondary" href="#">Ver detalles »</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4 circulos">
                <img class="bd-placeholder-img rounded-circle perro2" src="{% static 'APP/css/perro2.jpg' %}" alt="" width="140px" height="140px">        
                <h2 class="fw-normal">Heading</h2>
                <p>Another exciting bit of  placeholder content. This time, we've moved on to the second column.</p>
                <p><a class="btn btn-secondary" href="#">Ver detalles »</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4 circulos">
                <img class="bd-placeholder-img rounded-circle perro3" src="{% static 'APP/css/perro3.jpg' %}" alt="" width="140px" height="140px">          
                <h2 class="fw-normal">Heading</h2>
                <p>And lastly this, the third column of  placeholder content.</p>
                <p><a class="btn btn-secondary" href="#">Ver detalles »</a></p>
              </div><!-- /.col-lg-4 -->

          </div>
        </div>
        <script src="{% static 'APP/js/ScrollMagic.min.js' %}"></script>
        <script src="{% static 'APP/js/scrollEfects.js' %}"></script>
        <script src="{% static 'APP/js/debug.addIndicators.min.js' %}"></script>
        
        {% endblock %}