*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica!important;
}
.container{
    background-color:rgb(255, 255, 255);

}

#carouselExample{
    padding:0 ;
    
}
#id_short_content{
    font-size: 30px;
    color: red;
}
label[for="id_title"]{
    visibility: hidden;
    position: relative;
}
label[for="id_title"]:after{
    visibility: visible;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 0;
    content:'Titulo: ';
}
p input{
    margin-left: 20px;
}
label[for="id_content"]{
    visibility: hidden;
    position: relative;
}
label[for="id_content"]:after{
    visibility: visible;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 0;
    content:'Contenido: ';
}
label[for="id_author"]{
    visibility: hidden;
    position: relative;
}
label[for="id_author"]:after{
    visibility: visible;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 0;
    content:'Autor: ';
}
label[for="id_content_upload"]{
    visibility: hidden;
    position: relative;
}
label[for="id_content_upload"]:after{
    visibility: visible;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 0;
    content:'Cargar imagen: ';
}

label[for="id_date_published"]:after{
    visibility: visible;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 0;
    content:'Fecha: ';
}

footer{
    position: absolute;
    width: 100%;
    bottom: -500px;
}
.carousel{
    margin-top: 85px;
}
.imagenes{
    height: 700px;
}
.circulos{
    text-align: center;
}
.nav-link{
    text-align: center!important;
}

.eo{
    z-index: 23;

}
.ultimo{
    display: flex;
    justify-content: space-between;
}

.compania p {
   text-align: center!important;
}
.miimagen{
    padding-right: 10px;
}
.miimagen img{
    width: 25px;
}
.boton{
    display: flex;
    font-family: Helvetica!important    ;
    font-weight: bolder;
    justify-content: center;
    position: absolute;
    top: 25px;
    text-decoration: none!important;
    color: black;
    right: 20px;
    height: 40px;
    align-items: center;
    width: 150px;
    font-family: DM Sans;
    border-radius: 5px;
    background: rgb(244, 215, 215);
    border: none;

}
.boton:hover,.boton1:hover,.boton2:hover{
    color: rgb(78, 78, 78);
}
.boton img{
    padding-left: 5px;
    width: 25px;
}
/* .boton img:hover{
    transform: rotate(360deg);
} */
.boton1{
    display: flex;
    font-family: Helvetica!important;
    justify-content: center;
    font-weight: bolder;
    position: absolute;
    top: 25px;
    right: 10px;
    height: 40px;
    text-decoration: none!important;
    color: black;
    align-items: center;
    width: 140px;
    font-family: DM Sans;
    border-radius: 5px;
    background: rgb(244, 215, 215);
    border: none;

}
p img {
    border-radius: 50%;
    width: 140px!important;
    height: 140px!important;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 50px!important;
    background-color: rgb(244, 215, 215);
    width: 100%;
    height: 100vh;
    justify-content: center;
    
}
.loginform{
    margin-top: 300px;
    width: 700px;
    padding: 20px;
}
.id_title{
    color: red;
}
.articulo{
    display: flex;
    position: relative;
    border: solid 1px;
    border-radius: 5px;
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
}
.form2 form input{
    width: 300px;
}
.form2 form input{
    outline-color: rgba(13, 110, 253, .5);
}
.boton2{
    display: flex;
    justify-content: center;
    font-family: Helvetica!important;
    position: absolute;
    text-align: center;
    font-weight: bolder;
    top: 25px;
    right: 200px;
    height: 40px;
    align-items: center;
    text-decoration: none!important;
    color: black;
    width: 140px;
    font-family: DM Sans;
    border-radius: 5px;
    background: rgb(244, 215, 215);
    border: none;

}

.boton1 img{
    padding-left: 5px;
    width: 25px;
}
.botonimg2{
    margin-left:12px ;
}
.activado{
    transition: transform 1s;
    transform: rotate(360deg);
}
.activados{
    transition: transform 1s;
    transform: rotate(360deg);
}

.adopcion{
    width: 100%;
    height: 600px;
    margin-top: 100px;
}
.publicaciones{
    display: flex;
    width: 800px;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
    flex-direction: row;
    margin-top: 38px;
    padding-top: 40px ;
    background-color: white;
    margin-right: auto;
    margin-left: auto;

}
.contenedorPublicaciones{
    margin-left: 30px;
}

.contenido{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin-top: 150px!important;
    margin: 0 auto;
}
.contenido h1{
    text-align: center;
}
.contenido img{
    margin: 0 auto;
}
.botoningresar{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


@media screen and (max-width: 750px) {
    .boton{
        align-self:center!important;
        top: 180px;

    }
    
}