*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica!important;
}
.container{
    background-color:rgb(255, 255, 255);

}

#carouselExample{
    padding:0 ;
    
}
#id_short_content{
    font-size: 30px;
    color: red;
}
label[for="id_title"]{
    visibility: hidden;
    position: relative;
}
label[for="id_title"]:after{
    visibility: visible;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 0;
    content:'Titulo: ';
}
p input{
    margin-left: 20px;
}
label[for="id_content"]{
    visibility: hidden;
    position: relative;
}
label[for="id_content"]:after{
    visibility: visible;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 0;
    content:'Contenido: ';
}
label[for="id_author"]{
    visibility: hidden;
    position: relative;
}
label[for="id_author"]:after{
    visibility: visible;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 0;
    content:'Autor: ';
}
label[for="id_content_upload"]{
    visibility: hidden;
    position: relative;
}
label[for="id_content_upload"]:after{
    visibility: visible;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 0;
    content:'Cargar imagen: ';
}

label[for="id_date_published"]:after{
    visibility: visible;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 0;
    content:'Fecha: ';
}


label[for="id_size"]{
    visibility: hidden;
    position: relative;
}
label[for="id_size"]:after{
    visibility: visible;
    content:'Tamaño: ';
}
.carousel{
    margin-top: 85px;
}
.imagenes{
    height: 700px;
}
.circulos{
    text-align: center;
}
.nav-link{
    text-align: center!important;
}

.eo{
    z-index: 23;

}
.crear{
    padding-top: 20px;
}
.ultimo{
    display: flex;
    justify-content: space-between;
}

.compania p {
   text-align: center!important;
}
.miimagen{
    padding-right: 10px;
}
.miimagen img{
    width: 25px;
}
.eliminar{
    margin-top: 200px;
}
.boton{
    display: flex;
    font-family: Helvetica!important    ;
    font-weight: bolder;
    justify-content: center;
    position: absolute;
    top: 25px;
    text-decoration: none!important;
    color: black;
    right: 20px;
    height: 40px;
    align-items: center;
    width: 150px;
    font-family: DM Sans;
    border-radius: 5px;
    background-color: rgb(255, 202, 202);
    border: none;

}
.boton5{
    font-family: Helvetica!important    ;
    font-weight: bolder;
    color: black;
    height: 40px;
    align-items: center;
    width: 150px;
    font-family: DM Sans;
    border-radius: 5px;
    background-color: rgb(255, 202, 202);
    border: none;

}
.boton5:hover{
    background-color: #424740;
    transition: 0.4s;
}
.boton:hover,.boton1:hover,.boton2:hover{
    color: rgb(78, 78, 78);
}
.boton img{
    padding-left: 5px;
    width: 25px;
}
/* .boton img:hover{
    transform: rotate(360deg);
} */
.boton1{
    display: flex;
    font-family: Helvetica!important;
    justify-content: center;
    font-weight: bolder;
    height: 40px;
    margin-left: 20px;
    text-decoration: none!important;
    color: black;
    align-items: center;
    width: 140px;
    font-family: DM Sans;
    border-radius: 5px;
    background-color: rgb(255, 202, 202);
    border: none;

}
p img {
    border-radius: 50%;
    width: 140px!important;
    height: 140px!important;
}

.textFieldEdition{
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 215, 215);
    
}
.loginform{
    margin-top: 80px;
    width: 700px;
    padding: 20px;
}
.id_title{
    color: red;
}
.articulo{
    display: flex;
    position: relative;
    border: solid 1px;
    border-radius: 5px;
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
}
.form2 form input{
    width: 300px;
}
.form2 form input{
    outline-color: rgba(13, 110, 253, .5);
}
.boton2{
    display: flex;
    justify-content: center;
    font-family: Helvetica!important;

    text-align: center;
    font-weight: bolder;


    height: 40px;
    align-items: center;
    text-decoration: none!important;
    color: black;
    width: 140px;
    font-family: DM Sans;
    border-radius: 5px;
    background-color: rgb(255, 202, 202);
    border: none;

}
.cerrar{
    display: flex;
    position: absolute;
    right: 10px;
    margin-left: 10px;
}

.boton1 img{
    padding-left: 5px;
    width: 25px;
}
.botonimg2{
    margin-left:12px ;
}
.activado{
    transition: transform 1s;
    transform: rotate(360deg);
}
.activados{
    transition: transform 1s;
    transform: rotate(360deg);
}

.adopcion{
    width: 100%;
    height: 600px;
    margin-top: 100px;
}
.publicaciones{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 80px ;
    background-color: white;
    margin-right: auto;
    margin-left: auto;

}

.filtro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 40px;
    background-color: #f2f2f2;
    margin-top: 86px;
}
.filtro a{
    margin-left: 10px;
}
.fitro p{
    align-self: center;
}
.imgPublicacion{
    float: left;
}
.adoptalos{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 60%;
    width: 500px;
    display: flex;
    flex-direction: column!important;
    justify-content: center;
    border: 1px solid ;
    border-radius: 5px;
    margin-left: 120px;
    border-color: black;
    padding: 20px;
}
.h1flotante{
    color: white;
    font-weight: bold;
}
.btn-secondary{
    background-color: rgb(255, 202, 202)!important;
}
.btn{
    color: black;
}
.contenedorPublicaciones{
    margin-left: 30px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 60px;
    margin-top: 50px;
    border-radius: 8px;
    margin-right: 30px;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #343a40;
    border-radius: 10px;
    height: 400px;
    margin-top: 150px!important;
    margin: 0 auto;
    margin-bottom: 300px;
}
.contenido h1{
    text-align: center;
}
.contenido img{
    margin: 0 auto;
}
.botoningresar{
    display: flex;
    justify-content: center;
    margin-top: 10px!important;
    margin: 0 auto;
}
.ingresarh1{
    color: white;
}
label{
    color: #6c757d;
}
@media screen and (max-width: 750px) {
    .boton{
        margin: 0 auto;
        position: inherit;
    }
    .cerrar{
        margin: 0 auto;
        position: inherit;
    }
    .adoptalos{
        margin: 0 auto;
        display: flex;
        width: 100%;
    }
    .boton5{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .contenedorPublicaciones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
}

#row {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
#row.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}



/* 
donaciones */




.donaciones {
    font-size: 1.25rem;
    width: 185px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    margin-top: 20px;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  button i {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  button:hover .wrapper {
    animation: fly 0.6s ease-in-out infinite alternate;
  }
  button:hover i {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  button:hover span {
    transform: translateX(7em);
  }
  button:active {
    transform: scale(0.95);
  }
  @keyframes fly {
    from {
      transform: translateY(0.1em);
    }
    to {
      transform: translateY(-0.1em);
    }
  }


  .botonsend{
    margin-top: 86px;
    padding-top: 30px;
  }
  hr{
    margin-top: 30px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }
  h3{
    color: #384961;
    font-size: 25px;
    line-height: 1.2em;
    margin-bottom: 0.4em;
    word-wrap: break-word;
    font-weight: 700;
    text-align: left;
  }
  p{
    font-size: 15px;
    line-height: 1.8em;
    word-wrap: break-word;
    margin-bottom: 1.5em;
  }
  .mercadopago{
    width: 300px;
  }
  .botones{
    flex-direction: column;
    padding-left: 50px;
  }